   /* width */
::-webkit-scrollbar {
  width: 1%;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightsteelblue; 
}
* {
font: 40px Trebuchet MS;
}  
.youcantsee p{color:rgba(255, 0, 0, 0.001);}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.round {
    width: 64px
    height: 64px;

    overflow: hidden;
    border-radius: 15px;
}
.biground {
    width: 128px;
    height: 128px;

    overflow: hidden;
    border-radius: 30px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 17px;
  text-decoration: none;
  font-size: 55%;
  vertical-align: center;
}
.navbar a:hover {
  background: #f1f1f1;
  color: black;
}
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
 .boxedlinks{
  background-color: #27292b;
  width: 70%;
   margin: auto;
    border-radius: 10px;
     padding: 1px;
    
  padding-bottom: 1px;
}
  .boxedcopyright{
  background-color: #27292b;
  width: 110px;
   margin: auto;
     border-radius: 4px;
    
}
  .boxedlogo{
  background-color: #27292b;
  width: 128px;
   margin: auto;
    
  border-radius: 5px;
}
.logo {
  transform: translateY(20%);
  text-align: center;
}

.boxeddiscord{
  background-color: #27292b;
  width: 420px;
   margin: auto;
   padding: 5px;
  border-radius: 10px;
transform: translate(0%,5%);
}
.main {
  padding: 16px;
  margin-bottom: 30px;
}
h1 {
    text-align: center;
  color: white;
}
h2 {
    text-align: center;
  color: white;
}    
p {
    text-align: center;
  color: white;
}
@import "compass/css3";
.flash {
    animation-name: flash;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@keyframes flash {
    from {color: orange;}
    to {color: blue;}
}
body {
/*background-image: url("images/bloackchain.png");*/
background-color: #cccccc;
}
