@import "compass/css3";

* {
  font-family: 'Lato', arial, serif;
}
body {
  background-color: #000000;
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
p {
  text-align: center;
  color: white;
}
.navbar {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
  text-decoration: none;
}
.navbar a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: black;
}
.navbar a.active {
  color: white;
}
.navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: lightsteelblue;
}
li {
  padding: 0.9em 0.6em;
  text-decoration: none;
  font-size: 16px;
}
li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  font-size: 48px;
  color: #B8C5CF;
  text-transform: uppercase;
  transition: 0.5s;
}
li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 95%;
  left: 0;
  background: #3498DB;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  text-decoration: none;
}
li a:hover {
  color: #B2C3EA;
  text-decoration: none;
}
li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  text-decoration: none;
}
.members {
  color:white;
  display: inline-block;
  max-width: 115px;
  padding: 0.2em;
}
.members img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
/* Don't ask about this shit */
.status {
  width: 155px;
}
.server-status {
  color: white;
  float: left;
}
.server-status2 {
  color: white;
  float: left;
}
.server-status3 {
  color: white;
  float: left;
}
.server-status4 {
  color: white;
  float: left;
}
.server-status5 {
  color: white;
  float: left;
}
.server-status6 {
  color: white;
  float: left;
}
.server-status7 {
  color: white;
  float: left;
}
.map-server {
  color: white;
  float: left;
}
.server-online {
  color: #3CB371;
}
.server-online2 {
  color: #3CB371;
}
.server-online3 {
  color: #3CB371;
}
.server-online4 {
  color: #3CB371;
}
.server-online5 {
  color: #3CB371;
}
.server-online6 {
  color: #3CB371;
}
.server-online7 {
  color: #3CB371;
}
.map-online {
  color: #3CB371;
}
